/* Mian 兼容*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, textarea, input { 
	font-family: "微软雅黑";
	font-weight: normal;
	padding: 0;
	margin: 0;
	/*属性允许您以确切的方式定义适应某个区域的具体内容*/
	box-sizing:border-box;
	-moz-box-sizing:border-box;/* Firefox */
	-webkit-box-sizing:border-box;/* Safari */
}
body {
	font-size: 62.5%;
	-webkit-text-size-adjust: none;/*禁用Webkit内核浏览器的文字大小调整功能*/
	line-height: 1.5;
}
a, a:link, a:active, a:visited, a:hover{
	color: #233241;
	text-decoration: none;
}
pre{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;/*允许独立的滚动区域和触摸回弹*/
}
ul{
	list-style-type: none;
}


.in-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 100%;
	background-position: 0px -74px;
}
.shopico{
	border-radius: 26px;
	position: fixed;
	right: 6px;
	z-index: 10;
	width: 50px;
	height: 50px;
    /*border: 1px solid #e1e1e1;*/
    bottom: 52px;
    overflow: hidden;
    -webkit-transition: width ease-in-out .3s;
    -moz-transition: width ease-in-out .3s;
    transition: width ease-in-out .3s;
    background-clip: padding-box;
    background-image: url(https://su.yzcdn.cn/v2/image/wap/right_icon/icons_sprite/icons_sprite@2x_29025c38a6.png);
	background-position: -200px -100px;
	background-size: 300px 150px;
}
.shopico span{
	position: fixed;
	width: 20px;
	height: 20px;
	background: #FF0202;
	border-radius: 12px;
	line-height: 20px;
	text-align: center;
	color: #FFF;
}
.cont{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.butt1{
    float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	background: #22B1BF;
}
#main1_1{
}
#main1_1 div{
	position: absolute;
	border-radius: 30px;
}
#main1_1 div .add{
	width: 50px;
	height: 50px;
	border: 0;
	border-radius: 42px;
}
#main1_1 .li1{
	/*left: -60px;
	bottom: -60px;*/
}
#main1_1 .li2{
	/*left: 40px;
	bottom: -60px;*/
}









.m1{
	background: url(../images/m1.jpg);
	transform: translate3d(80px, 150px, 0px) rotate(1220deg); 
	transition: transform 30s linear 0s; 


}
.m2{
	background: url(../images/m1.jpg);
	transform: translate3d(80px, 150px, 0px) rotate(1220deg); 
	transition: transform 30s linear 0s; 


}
/* icon */
.rb {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	background-size: 50px 50px;
	cursor: pointer;
    border: 1px #CCC solid;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
}

.rb_active {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
	-moz-box-shadow: 0 10px 6px -6px #020202;
	-webkit-box-shadow: 0 10px 6px -6px #020202;
	box-shadow: 0 10px 6px -6px #020202;
}